# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.RythmGame.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kelme\Documents\GitHub\YourMom\RythmGame\.idea\.idea.RythmGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
